<mat-toolbar  class="navbar">
  <div class="heading">Admin UI</div>
</mat-toolbar>

<div class="container">

    <mat-card >
      <div class="sub-container">Edit Details</div>

       
        <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
            
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="service.selectedEmployee._id">
  
          <div class="row">
            <div class="input-field">
              <input type="text" placeholder="Name" name="name" #name="ngModel" [(ngModel)]="service.selectedEmployee.name">
            </div>

          </div>
          <div class="row">
            <div class="input-field">
              <input type="text" placeholder="Email" name="email" #name="ngModel" [(ngModel)]="service.selectedEmployee.email">
            </div>

          </div>
          <div class="row">
            <div class="input-field">
              <input type="text" placeholder="Role" name="role" #name="ngModel" [(ngModel)]="service.selectedEmployee.role">
            </div>

          </div>
              
  
              <div class="btn">
                <button mat-raised-button color="primary" routerLink="/home">Back</button>&nbsp;
                <button mat-raised-button color="primary" (click)="onSubmit(employeeForm)">Update</button>
            </div>
  
        </form>
    
  </mat-card>
  
  </div>
  
  
    
      
  
  
   
  